page-realquiz {
  h3 {
    color: black;
    border-bottom: 5px solid rgb(78, 104, 190);
    font-style: italic;
  }
  .body {
    background-color: rgb(79, 100, 218);
    color: black;
    border-bottom: 5px solid black;
  }
  .com {
    color: rgb(71, 6, 71);
    font-size: 13px;
    font-style: oblique;
  }
}
